<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- 🛡️ حارس الأمن لمنع مشكلة الـ jQuery وتشغيل الفاليديشن خفيف وسريع -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>